RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [PT,L]
#RewriteRule ^(.*)$ $1 [PT,L]




RewriteRule ^index(\/.*)*$ /mfi-boss/index.php
RewriteRule ^dashboard(\/.*)*$ /index.php
RewriteRule ^login(\/.*)*$ /mfi-boss/login.php
#RewriteRule ^AuthUserLogin(\/.*)*$ /mfi-boss/api/

#/mfi-boss/www/api/AuthUserLogin
RewriteRule ^logout(\/.*)*$ /mfi-boss/logout.php	
#RewriteRule ^projects(\/.*)*$ /index.php


#RewriteRule ^projects(.*)$ /index.php


